.App {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Grid {
  margin: 20px 8px;
  width: 90%;
}

.Row {
  display: flex;
  width: 100%;
  margin: 4px;
  gap: 4px;
  justify-content: center;
}

.Box {
  font-size: 2rem;
  background-color: grey;
  padding: 8px;
  width: 40px;
  height: 40px;
  border: 0;
}

.Letter {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
}

.Keyboard {
  margin: 0 8px;
  width: 90%;
}

.KBRow {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: darkgray;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}